.App {
  display: flex;
}

.board {
  background: #fafafa;
  min-height: 95vh;
  padding: 10px;
}

.element-board {
  margin-right: 5px;
  width: 40%;
}

.output-board {
  margin-left: 5px;
  width: 60%
}
.element{
  background: black;
  position: relative;
}
